html{
    height: 100% !important;
    width: 100% !important;
}

body{
    height: 100% !important;
    width: 100% !important;
    background-color: #DCDCDC !important;
    padding-top: 50px; 
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    background-color: white !important;
    padding-top: 15px;
}

#defaultPage {
    text-align: center !important;
}

.errorMessage {
	height: 34px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

@media only screen and (max-width : 991.5px) {
    .errorMessageWithTopLabel {
        height: 34px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .errorMessageWithTopLabel {
        margin-top: 25px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}